body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  margin: 0;
  padding: 0;
  background-color: #333;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  flex-wrap: nowrap;
  position: relative;
  z-index: 5;
}
.navbar li{
  list-style-type: none;
  color:white;
  display:inline-block;
  padding: 0px 40px;
}
.logo {
  font-family: 'Fleur De Leah', cursive;
  font-size: 35px;
  cursor: pointer;
  margin-right: auto;
  color:white;
  padding: 15px;
}
.subheader{
  margin: 0;
  padding: 0;
  background-color: #a5362e;
  height: 10px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding: 30px 10%;
  position: relative;
  z-index: 5;
}
.subheader li{
  list-style-type: none;
  color:white;
  display:inline-block;
  padding: 0px 40px;
  cursor: pointer;
  transition: 0.5s;
}
.subheader li:hover{
  color: rgb(255, 136, 0);
  transform: translateY(-10%);
}
section{
  height: 100vh;
  scroll-snap-align: start;
}
.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  transition: 0.1s;
}
.section-two{
  background-color: rgb(12, 12, 12);
}
.section-second{
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.shop-now{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.product-grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 80%;
  float: right;
  margin-left: 400px;
  margin-top: 40px;
  min-height: 969px;
}
.product-card{
  margin-bottom: 100px;
  list-style: none;
  transition: 0.7s;
}
.product-card:hover{
  transform: translateY(-1%);
}
.product-card2{
  list-style: none;
}
.row{
  display: flex;
  justify-content: start;
  align-items: center;
}
.added{
  color: green;
  font-weight: bold;
}
.inline{
  display: flex;
  flex-direction:row;
}
.product-page{
  display: flex;
  justify-content: center;
  margin: 40px;
  gap: 60px
}
.item-info{
  display: flex;
  flex-direction: column;
  min-height: 250px;
  width: 400px;
  background-color: rgb(218, 218, 218);
  align-items: flex-start;
  padding: 20px;
}
.remove{
  align-self: end
}
.cart-items{
  display: flex;
  flex-direction:column;
  margin: 20px;
  border-bottom: dotted rgb(194, 194, 194);
}
.inline2{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}
.inline3{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.checkout{
  width: 800px;
  min-height: 650px;
  text-align: center;
  background-color: #d4d4d4;
  margin-top: 20px;
  position: fixed;
  font-size: 14px;
  height:max-content;
}
.item{
  border-bottom: solid rgb(194, 194, 194);
}
.box{
  width: 500px;
  height: 350px;
  border-radius: 20px;
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  
}
.picture-text{
  color:rgb(27, 27, 27);
  font-family: var(--ff-title);
  font-weight: var(--fw-title);
  font-size: calc(2rem + 2.5vw);
  font-weight:900;
  background-image: url(https://i.ibb.co/x1ZnBdW/banner-top-yamaha.png);
  background-size: cover;
  background-clip: text;
  color: transparent;
  cursor: pointer;
  transition: 0.5s;
}
.picture-text:hover{
  transform: translateY(-10%);
}
.image-text{
  background-image: url(https://i.ibb.co/QDYx8Jz/Thank.png);
  background-size: cover;
  background-clip: text;
  color: transparent;
}
.middle{
  height: 969px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column{
  display:flex;
  flex-direction: column;
  gap: 30px;
}
.grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
}
.box2{
    width: 400px;
    height: 100px;
    background-color: rgba(93, 107, 233, 0.938);
    border-radius: 20px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}
.Checkout-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 969px;
}
.list-item{
  height: 40px;
  display: flex;
  align-items: center;
  transition: 0.5s
}
.list-item:hover{
  color: rgb(0, 0, 0)
}
.checkout-box{
  width: 500px;
  min-height: 220px;
  background-color: #cfcfcf;
  border-radius: 4px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
}
.left-drawer{
    height: 969px;
    width: 300px;
    background-color: rgb(214, 214, 214);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.filter-sort{
  min-width: 220px;
  height: 565px;
  background-color:rgb(230, 230, 230) ;
  padding: 20px;
  box-shadow: 1px 5px 5px rgba(68, 68, 68, 0.6);
  margin-top: 190px;
  width: fit-content;
}
.list-item2{
  transition: 0.5s
}
.list-item2:hover{
  color: rgb(255, 255, 255);
}
.completedOrder{
  height: 800px;
  width: 1300px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 1px 10px 10px rgba(68, 68, 68, 0.6);
}
.middle2{
  height: 969px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, rgb(129, 42, 42), rgb(158, 42, 42),  rgb(204, 114, 31), rgb(200, 186, 105));
  background-size: 500%;
  animation: bg-gradient 6s infinite alternate
}
@keyframes bg-gradient{
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}
.apart{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width:600px;
  border-bottom:solid gray;
  border-left:solid gray;
  border-right:solid gray;
}
.justify-center{
  display: flex;
  justify-content: center;
  text-align: center;
}
.description{
    border: solid rgb(214, 214, 214);
    padding: 30px;
}
.justify-center-reviews{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 900px;
  min-height: 200px;
  border-top: solid rgb(177, 177, 177);
}
.bottom-nav{
  margin-top: 0px;
  padding: 0;
  background-color: #333;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: relative;
  z-index: 5;
}
.item-unfixed{
  width: 800px;
  min-height: 650px;
  text-align: center;
  background-color: #d4d4d4;
  margin-top: 20px;
  font-size: 14px;
  height:max-content;
}
.zoomed-in{
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}
.address-book{
  width: 90%;
  min-height: 400px;
  border-radius: 5px;
  background-color: gray;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.each-address{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
  min-height: 280px;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  margin: 30px;
}
.address-text{
  display: flex;
  justify-content: space-evenly;
  border-bottom:solid gray;
  border-left:solid gray;
  border-right:solid gray;
  height: 40px;
  min-width: 300px;
}
.plus{
  font-size: 60px;
  transition: 0.5s;
  cursor: pointer;
}
.plus:hover{
  color: orange
}
.home-recently-viewed{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.home-section-two{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.alex-font{
  font-family: 'Oleo Script', cursive;
}
.sleek{
  font-family: 'Mukta Vaani', sans-serif;
}
.home-images{
    width: 85%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.home-img{
  object-fit: cover;
}
.home-img-text h2{
  color: white;
  margin: 60px;
}
.home-img-text h2 {
 
}
.text{
  font-size: 38px;
  font-family: 'Mukta Vaani', sans-serif;
  transition: 1s;
}
.text:hover{
  color:orange;
  transform: translateY(-20%);
  
}
@media (max-width: 600px){
    .navbar{
      background-color: white;
      height: 25px;
    }
    .navbar li{
     font-size: 15px;
     color: black
    }
    .logo{
      font-size: 15px;
      color:rgb(0, 0, 0);
      
    }
    .subheader {
      padding:0px;
      height: 70px;
    }
     .subheader li{
       font-size: 12px;
       padding: 5px;
     }
     #input-with-icon-adornment{
       width: 100px;
     }
    .shopCartIcon{
     
    }
}
/* @keyframes move-around {
      0%{
        transform: translate(0)
      }
      50%{
        transform: translateY(-80%)
      }
      100%{
        transform: translate(0)
      }
} */
/* .checkout-box2{
  width: 500px;
  height: 200px;
  background-color: #a5362e;
  border-radius: 4px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
} */
/* style={{display: "flex", flexDirection: "column", minHeight: "250px", backgroundColor: "yellow"}}  */