body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  margin: 0;
  padding: 0;
  background-color: #333;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}
.navbar li{
  list-style-type: none;
  color:white;
  display:inline-block;
  padding: 0px 40px;
}
.logo {
  cursor: pointer;
  margin-right: auto;
  color:white;
  padding: 15px;
}
.subheader{
  margin: 0;
  padding: 0;
  background-color: #a5362e;
  height: 10px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding: 30px 10%;
}
.subheader li{
  list-style-type: none;
  color:white;
  display:inline-block;
  padding: 0px 40px;
  cursor: pointer;
  transition: 0.5s;
}
.subheader li:hover{
  color: rgb(255, 136, 0);
  font-size: 18px;
}
section{
  height: 100vh;
  scroll-snap-align: start;
}
.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  transition: 0.1s;
}
.section-two{
  background-color: rgb(205, 216, 59);
}
.shop-now{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.product-grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  width: 80%;
  float: right;
}
.product-card{
  margin-bottom: 500px;
  list-style: none;
}
.row{
  display: flex;
  justify-content: start;
  align-items: center;
}
.added{
  color: green;
  font-weight: bold;
}
.inline{
  display: flex;
  flex-direction:row;
}
.product-page{
  display: flex;
  justify-content: center;
  margin: 40px;
  gap: 60px
}
.item-info{
  display: flex;
  flex-direction: column;
  min-height: 250px;
  width: 400px;
  background-color: rgb(218, 218, 218);
  align-items: flex-start;
  padding: 20px;
}
.remove{
  align-self: end
}
.cart-items{
  display: flex;
  flex-direction:column;
  margin-top: 20px;
  border-bottom: dotted rgb(194, 194, 194);
}
.inline2{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.checkout{
  width: 800px;
  min-height: 650px;
  text-align: center;
  background-color: #d4d4d4;
  margin-top: 20px;
  position: fixed;
  font-size: 14px;
  height:max-content;
}
.item{
  border-bottom: solid rgb(194, 194, 194);
}

/* style={{display: "flex", flexDirection: "column", minHeight: "250px", backgroundColor: "yellow"}}  */